*.sw?
.bazaar/lock/
.cgdb/
.config/akonadi/
.config/Trolltech.conf
.config/gmpc/gmpc.log
.config/gpodder/database.sqlite
.config/gpodder/mygpo.queue.sqlite
.config/htop/
.config/libimobiledevice/
.config/vlc/
.etwolf/*
!.etwolf/etmain/profiles/ErikwSwe/etconfig.cfg
!.etwolf/etmain/profiles/ErikwSwe/profile.dat
.gconf/apps/gitg/
.gconf/apps/pdfmod/
.gconf/desktop/
.gconf/apps/%gconf.xml
.gnucash/translog/
.googlecl/access_tok_*
.irssi/away.log
.irssi/dcc/
.irssi/nicklistfifo
.kde4/
!.kde4/Autostart/
!.kde4/env/
!.kde4/share/apps/konsole/
!.kde4/share/config/khotkeysrc
!.kde4/share/config/mpdknotifierrc
!.kde4/share/config/yakuakerc
!.kde4/share/kde4/services/spotify.protocol
!.kde4/share/config/kxkbrc
