! Xresouces for X program. This file deprecates .Xdefaults.
! Reload with `xrdb -load .Xresouces` or -merge to not overwrite all settings.

! Modeline {
!	 vi: foldmarker={,} foldmethod=marker foldlevel=0: tabstop=8:
! }

!! XTerm. {
! Use UTF-8.
XTerm.utf8: 1
! Show scrollbars.
XTerm.scrollBar: true
! Enable more colors.
XTerm.termName: xterm-256color
! Put the scrollbar to the right as customary.
XTerm.rightScrollBar: true
! Default window size.
! TODO The mouse menues does not work when changing the geometry :S
!XTerm.geometry: 80x24
! Bell style
XTerm.visualBell: on
! Color of the cursor.
!XTerm.cursorColor: white
! Use solarized foreground color.
XTerm.cursorColor: 657b8
! Blink the cursor.
XTerm.cursorBlink: true
! Blink time in ms.
XTerm.cursorOffTime: 900
XTerm.cursorOnTime: 1200
! Use a fancier font.
XTerm.faceName: terminus:normal:pixelsize=12

! Alternative resouce. Load with $ xterm -name XTermBig.
XTermBig.geometry: 120x40

! }

!! urxvt {
!! urxvt
! Set the color bitdepth.
URxvt.depth: 32
! Double buffering for performance.
 URxvt.buffered: true	
! Font to use.
URxvt.font: xft:Terminus:normal:pixelsize=12
! Default geometry.
urxvt.geometry: 80x24
! Scroll one page in case of exploding stdout.
URxvt.jumpScroll: true
! Fake transparency.
!URxvt.transparent: true
! Real transparency (requires *.dpth: 32 and a composite window manager like xcompmgr)
URxvt.background: rgba:0000/0000/0200/c800
!URxvt.background: rgba:1111/1111/1111/dddd
! I want the bells to ring!
URxvt.visualBell: false
! Type of scrollbar.
URxvt.scrollstyle: rxvt
! Show scrollbar.
URxvt.scrollbar: true
! Scrollbar placed where expected.
URxvt.scrollBar_right: true
! Prevent scroll down to bottom when new output is present.
URxvt.scrollTtyOutput: false
! Scroll to bottom when non-special key is pressed.
URxvt.scrollTtyKeypress: true
! Number of lines to save in the scrollback buffer.
URxvt.saveLines: 65535
! No blinking please.
URxvt.cursorBlink: false
! Underline instead of block cursor.
!URxvt.cursorUnderline: true

! Match URLs.
URxvt.perl-ext-common: default,matcher
! Open URLs in the true web broweser.
URxvt.urlLauncher: firefox
! Make URLs clickable.
URxvt.matcher.button: 1
! Open last URL.
URxvt.keysym.C-Delete: perl:matcher:last
! Show a list of (max 10) recently opened URLs.
URxvt.keysym.M-Delete: perl:matcher:list


! }

!! Misc {
! For set-clipboard in tmux.
disallowedWindowOps: 20,21,SetXprop

! Source some solarized colors. The path starts from where this script is loaded from (which hopefully is $HOME).
#include "/home/erikw/.Xresources.solarized"

! }

# TODO delete if above include works?
!!---- Default URxvt (Solarized Dark, 12px)
!URxvt*fading:                         30
!URxvt*background:                     #002b36
!URxvt*foreground:                     #657b83
!URxvt*fadeColor:                      #002b36
!URxvt*cursorColor:                    #93a1a1
!URxvt*pointerColorBackground:         #586e75
!URxvt*pointerColorForeground:         #93a1a1
!URxvt*colorUL:                        #859900
!URxvt*colorBD:                        #268bd2
!URxvt*color0:                         #073642
!URxvt*color8:                         #002b36
!URxvt*color1:                         #dc322f
!URxvt*color9:                         #cb4b16
!URxvt*color2:                         #859900
!URxvt*color10:                        #586e75
!URxvt*color3:                         #b58900
!URxvt*color11:                        #657b83
!URxvt*color4:                         #268bd2
!URxvt*color12:                        #839496
!URxvt*color5:                         #d33682
!URxvt*color13:                        #6c71c4
!URxvt*color6:                         #2aa198
!URxvt*color14:                        #93a1a1
!URxvt*color7:                         #eee8d5
!URxvt*color15:                        #fdf6e3
!
!!---- Light URxvt (Solarized Light, 11pt)
!! Start with $ urxvt -name LURxvt
!LURxvt*font:                   xft:Anonymous Pro-10
!LURxvt*fading:                 0
!LURxvt*background:             #fdf6e3
!LURxvt*foreground:             #839496
!LURxvt*fadeColor:              #fdf6e3
!LURxvt*cursorColor:            #586e75
!LURxvt*pointerColorBackground: #93a1a1
!LURxvt*pointerColorForeground: #586e75
!LURxvt*color0:                 #073642
!LURxvt*color8:                 #fdf6e3
!LURxvt*color10:                #93a1a1
!LURxvt*color11:                #839496
!LURxvt*color12:                #657b83
!LURxvt*color14:                #586e75
!LURxvt*color7:                 #839496
!LURxvt*color15:                #002b36
